%html
  %head
    %title Voldemort Web Manager
    %link{:rel => "stylesheet", :href => (to "/css/common.css"), :type => "text/css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:src => (to "/script/common.js")}
  %body  
    #header
      #title
        %h1 
          %a{:href => (to "/stores")} Voldemort Cluster Management  
        %p
          Bootstrap URL:
          = @bootstrap_url
          %a{:href => (to "/config")} Change
        - if @@clusters && @@clusters.size > 0
          %div.clusters
            %h3 Clusters:
            - @@clusters.each do |cluster|
              %li
                %a{:href => (to "/clusters/#{cluster['name']}")}= "#{cluster['name']}"
    #outer
      #main
        = yield